@{
    ViewBag.Title = "My Claims - CMCS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4">My Claims</h2> <!--Claims table-->

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Claim ID</th>
                <th>Date Submitted</th>
                <th>Hours Worked</th>
                <th>Hourly Rate</th>
                <th>Total Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#1</td>
                <td>2024-09-01</td>
                <td>40</td>
                <td>$50.00</td>
                <td>R2,000.00</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>#2</td>
                <td>2024-08-01</td>
                <td>35</td>
                <td>$50.00</td>
                <td>R1,750.00</td>
                <td>Approved</td>
            </tr>
        </tbody>
    </table>
</div>
